.App {
  text-align: center;
}

[class^="box-"] {
  background-color: skyblue;
  /* Размещаем контейнеры по центру */
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  gap: 20px;
}